body{
    font-family: sans-serif;
    
    text-decoration:wavy;
    text-transform: capitalize;
    line-height: 60px;
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.7);
}
.hellobtn{
    background-color: brown;
    color: white;
}
.hellobtn:hover{
    background-color: blue;
    cursor: pointer;
}